<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pharmacy Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header' ); %>
  <%- include('./partials/nav', { activePage: 'home' }) %>
  <main>
    <div class="home-grid">
      <a href="/patients" class="card">
        <div class="card-content">
          <h2>View Patients</h2>
        </div>
      </a>
      <a href="/doctors" class="card">
        <div class="card-content">
          <h2>Available Doctors</h2>
        </div>
      </a>
      <a href="/medications" class="card">
        <div class="card-content">
          <h2>Medicines Inventory</h2>
        </div>
      </a>
      <a href="/prescriptions" class="card">
        <div class="card-content">
          <h2>View Prescriptions</h2>
        </div>
      </a>
    </div>
  </main>
  <%- include('partials/footer'); %>
</body>
</html>
